<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
  line-height: 50px;
}
</style>
</head>
<body>

<h1>Tiêu đề 1</h1>
<h2>Tiêu đề 2</h2>
<p>Dòng văn.</p>
<p>Dòng văn khác.</p>

</body>
</html>


